body{
    display: flex;
    height: 98vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(74, 74, 74);
}

#flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    gap: 2%;
    background-color: rgb(212, 211, 211);
    height: 540px;
    width: 500px;
    box-shadow: 0px 0px 79px -3px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 79px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 79px -3px rgba(0,0,0,0.75);
}   

#title-box{
    display: flex;
    justify-content: flex-end;
    height: 5%;
    width: 90%;
    position: relative;
    top: 3%;
}

#title{
    font-size: 1.3em;
    font-family:fantasy;
    font-weight: bold;
    color: rgb(143, 143, 143);
}

#add-item{
    background-color: rgb(168, 168, 168);
    font-size: 1.5em;
    padding-left: 4%;
    padding-right: 4%;
    height: 8%;
    width: 82%;
    border-radius: 30px;
    border: none;
    position: relative;
}
#add-item:focus{
    outline: none;
}
#add-btn-box{
    display: flex;
    justify-content:flex-end;
    border-radius: 200px;
    padding-right: 2%;
    height: 9%;
    width: 91%;
    position: relative;
    top: 9.5%;
}
#add-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(215, 215, 215);
    font-size: 1.4em;
    font-weight: bold;
    border-radius: 200px;
    height: 80%;
    width: 9%;
    position: relative;
    top: 22%;
    z-index: 1;
    user-select: none;
}
#add-btn:hover{
    background-color: rgb(231, 231, 231);
}

#to-do-box-label{
    display: flex;
    justify-content: flex-start;
    height: 5%;
    width: 87%;
    position: relative;
    top: 4%;
}

#to-do-label{
    font-size: 1em;
    font-family:fantasy;
    font-weight: bold;
    color: rgb(103, 103, 103);
}

.to-do-box{
    background-color: rgb(168, 168, 168);
    border-radius: 10px;
    height: 11%;
    width: 90%;
    position: relative;
    top: 2%;
}

.to-do-box:hover{
    background-color: rgb(130, 129, 129);
}

#complete-box-label{
    display: flex;
    justify-content: flex-start;
    height: 5%;
    width: 87%;
    position: relative;
    top: 7%;
}

#complete-label{
    font-size: 1em;
    font-family:fantasy;
    font-weight: bold;
    color: rgb(103, 103, 103);
}

.complete-box{
    background-color: rgb(168, 168, 168);
    border-radius: 10px;
    height: 11%;
    width: 90%;
    position: relative;
    top: 5%;
}

.complete-box:hover{
    background-color: rgb(130, 129, 129);
}
