@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    background-color: #bea089;
}

.flex-container{
    display: flex;
    align-items: center;
    border-radius: 30px;
    background-color: #eee9d9;
    height: 90%;
    width: 80%;
}

.user-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 40%;

    margin: 5%;
}

.user-container img{
    width: 90%;
}

.bot-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 40%;
    margin: 5%;
}
.bot-container img{
    width: 90%;
}

.user-pick-button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 80%;
    font-family: 'Montserrat',Montserrat;       
    font-weight: 500;
    border: none;
    border-radius: 8px;
    background-color: rgb(224, 202, 139);
    padding: 1%;
    width: 10%;
    bottom: 8%;
    left: 25%;
}
.user-pick-button:hover{
    background-color: rgb(236, 212, 147);
}

.bot-pick-label{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-family: 'Montserrat',Montserrat;
    font-weight: 500;
    padding: 1%;
    height: 2%;
    bottom: 8%;
    right: 25%;
    font-size: 90%;
}

.pick-button{
    font-size: 90%;
    position: relative;
    top: 44%;
    height: 7%;
    width: 10%;
    padding: 5px;
    background-color: hsl(104, 35%, 59%);
    border: none;
    border-radius: 8px;
}

.pick-button:hover{
    background-color: #94ca80;
}

.indicator-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-family: 'Montserrat',Montserrat;
    background-color: hsl(104, 41%, 65%);
    position:absolute;
    width: 100%;
    height: 20%;
    z-index: 1;
}

.indicator-container:hover{
    background-color: #9ed789;
    cursor: pointer;
}
.indicator-container:active{
    background-color: #a8e492;
}

 .continue-label{
    font-size: 0.3em;
    position: relative;
    top: 10%;
}
