@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@1..1000&display=swap');


body{
    background-color: #ECEBDE;
}

form{
    display: block;
    border: 1px solid;
    height: 500px;
    width: 400px;
    margin: auto;
    font-family: 'Ysabeau SC', Ysabeau SC;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    position:relative;
    top: 110px;
}

label{   
    position: absolute;
}
input{
    border: 1px solid;
    border-radius: 8px;
    position: relative;
    top: 25px;
    font-size: 1em;
    padding: 2px;
}

#lname-lbl{
    position: relative;
    top: 70px;
    border: 1px solid;
}

h1{
    position: relative;
    font-size: 2.4em;
}



