@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
}

.flex-container{
    display: flex;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    background-color: gray;
    flex-direction: column;
    height: 90%;
    width: 80%;
}

.play-head-label{
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Montserrat', Montserrat;
    font-weight: 400;
    font-size: clamp(40px,6vw,6vw);
    user-select: none;
}

.play-sub-label{
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Montserrat', Montserrat;
    font-weight: 250;
    font-size: clamp(16px,2.5vw,2.5vw);
    user-select: none;
}

.play-sub-label:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition-duration: 0.5s;  
}

.play-sub-label:not(:hover){
    transform: scale(1);
    transition-duration: 0.5s;
}

.game-title{
    font-family:'Montserrat', Montserrat;
    font-weight: 300;
    font-size: 6vw;
    user-select: none;
    display: none;
    justify-content: center;
    text-align: center;
}

.story-paragraph{
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', Montserrat;
    font-size: clamp(18px,1.8vw, 1.8vw);
    font-weight: 500;
    position: relative;
    bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.choice-container{
    display: none;
    align-items: center;
    justify-content: space-evenly;
    height: 45%;
    width: 90%;
}

.choice-box{
    background-color: white;
    border-radius: 30px;
    border: 1px solid white;
    height: 20vw;
    width: 27%;
    cursor: pointer;
}

.choice-box:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.choice-box:not(:hover){
    transform: scale(1);
    transition: 0.5s;
}

.heart-container{
    display: none;
    justify-content: space-evenly;
    height: clamp(30px,3.5vw,3.5vw);
    width: clamp(120px,20%,20%);
    position: relative;
    right: 29%;
    top: clamp(0px,8%,8%);
}

.heart{
    background-color: red;
    display: flex;
    height: 100%;
    width: clamp(30px,22%,22%);
}

.button-container{
    display: none;
    justify-content: space-evenly;
    height: clamp(35px,4vw,4vw);
    width: clamp(130px,20%,20%);
    position: relative;
    left: 29%;
    top: clamp(0px,1%,1%);
    
}

.back-button{
    font-family: 'Montserrat', Montserrat;
    font-size: clamp(14px,1.8vw,1.8vw);
    width: 40%;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}

.next-button{
    font-family: 'Montserrat', Montserrat;
    font-size: clamp(14px,1.8vw,1.8vw);
    width: 40%;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}

    /* to be designed */
.game-over-head{
    display: none;
}

.game-over-sub{
    display: none;
}

.try-again-button{
    display: none;
}

.go-back-button{
    display: none;
}