@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@1..1000&display=swap');
body{
    background-color: #ECEBDE;
}

#container{
    display: block;
    margin: auto;
    border: none;
    border-radius: 20px;
    background-color: #BCCCDC;
    height: 400px;
    width: 400px;
    text-align: center;
    position: relative;
    top: 140px;
    font-family: 'Ysabeau SC', Ysabeau SC;
    font-weight: bold;
}

#login-label{
    display: block;
    font-size: 2em;
    position: relative;
    top: 60px;
}

.log-label{
    display: block;
    font-size: 1em;
    position: relative;
    right: 68px;
    top: 90px;
}

#password-label{
    top: 105px;
}

.log-input{
    display: flex;
    background-color: #f3f3eb;   
    border-radius: 8px;
    position: relative;
    margin: auto;
    top: 95px;
    border: none;
    font-size: 1.1em;
    padding: 3px;
    padding-left: 8px;
}
.log-input:hover{
    background-color: white;
}

.log-input:focus{
    outline: none;
}

#password-input{
    top:110px;
}

#login-btn{
    font-size: 1em;
    border: none;   
    border-radius: 4px;
    display: block;
    margin: auto;
    position: relative;
    right: 50px;
    top: 154px;
    padding: 5px;
    padding-bottom: 7px;
    width: 80px;
    background-color: #f3f3eb;
    font-family: 'Ysabeau SC', Ysabeau SC;
    font-weight: bold;
}

#login-btn:hover{
    background-color: #ffffff;
}

#register-btn{
    font-size: 1em;
    border: none;
    border-radius: 4px;
    display: block;
    margin: auto;
    position: relative;
    left: 50px;
    top: 121px;
    padding: 5px;
    padding-bottom: 7px;
    width: 80px;
    background-color: #f3f3eb;
    font-family: 'Ysabeau SC', Ysabeau SC;
    font-weight: bold;
}
#register-btn:hover{
    background-color: #ffffff;
}

#forgot-pass-link{
    display: inline;
    margin: auto;
    position: relative;
    right: 50px;
    top: 42px;
    font-size: 0.8em;
    color: rgb(93, 92, 92);
}

#forgot-pass-link:hover{
    color: #f3f3eb;
}



